<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
 

  <li><a href="general.html">General Notes</a></li>
  <li><a href="capStmt.html">API</a></li>
<!--
  <li><a href="models.html">Logical Models</a></li>
  -->
  <li><a href="profiles.html">Profiles</a></li>
  <li><a href="extensions.html">Extensions</a></li>

  <li><a href="identifiers.html">Identifiers</a></li>

  <li><a href="terminology.html">Terminology</a></li>

 

  <li><a href="faq.html">FAQ</a></li>
  <li><a href="artifacts.html">Artifact Index</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
   
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Support<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
    <li>
        <a href="full-ig.zip">IG download</a>
      </li>
      <li>
        <a href="companion.html">
          IG Companion <img src="external.png" style="text-align: baseline"/></a>
      </li>
      <li>
        <a target="_blank" href="http://localhost:8081/IGCompanion.html?server=http://home.clinfhir.com:8054/baseR4/">
          IG Companion (development only)<img src="external.png" style="text-align: baseline"/></a>
      </li>

      <li>
        <a target="_blank" href="{{site.data.fhir.path}}index.html">FHIR Spec <img src="external.png" style="text-align: baseline"/></a>
      </li>
    </ul>
  </li>
</ul>